<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="application-shiro.xml"/>
    <context:component-scan base-package="team.lw.arena"/>

    <!--引入外部属性文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--配置c3p0连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
    </bean>

    <!--配置hibernate属性-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置数据库基础属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update </prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/project_db</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <!--<property name="mappingLocations">-->
        <!--<list>-->
        <!--<value>classpath:HelloSpringMVC/entity/User.hbm.xml</value>-->
        <!--</list>-->
        <!--</property>-->
        <property name="mappingResources">
            <list>
                <value>team/lw/arena/entity/UserLogin.hbm.xml</value>
                <value>team/lw/arena/entity/UserInfo.hbm.xml</value>
                <value>team/lw/arena/entity/Record.hbm.xml</value>
                <value>team/lw/arena/entity/MobileUser.hbm.xml</value>
                <value>team/lw/arena/entity/SixPeopleRoom.hbm.xml</value>
                <value>team/lw/arena/entity/Record.hbm.xml</value>
                <value>team/lw/arena/entity/State.hbm.xml</value>
                <value>team/lw/arena/entity/Comment.hbm.xml</value>
            </list>
        </property>
        <!--配置映射文件-->
        <!--<property name="mappingResources">-->
        <!--<list>-->
        <!--<value>classpath:HelloSpringMVC/entity/User.hbm.xml</value>-->
        <!--&lt;!&ndash;<value>priv/lyh/arena/entity/UserLogin.hbm.xml</value>&ndash;&gt;-->
        <!--&lt;!&ndash;<value>priv/lyh/arena/entity/UserInfo.hbm.xml</value>&ndash;&gt;-->
        <!--&lt;!&ndash;<value>priv/lyh/arena/entity/Record.hbm.xml</value>&ndash;&gt;-->
        <!--&lt;!&ndash;<value>priv/lyh/arena/entity/MobileUser.hbm.xml</value>&ndash;&gt;-->
        <!--</list>-->
        <!--</property>-->
    </bean>

    <!--开启事务管理-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--开启事物注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>


</beans>